.Banner {
  color: white;
  object-fit: contain;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.Banner_Details {
  margin-left: 30px;
  padding-top: 150px;
  height: 200px;
}

.Banner_Title {
  font-size: 3rem;
  font-weight: 600;
  width: 700px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.Banner_descp {
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  padding-left: 20px;
  height: 80px;
}

.Banner_Buttons {
  display: flex;
  padding: 20px;
}

.Banner_Button {
  cursor: pointer;
  color: white;
  outline: none;
  border: none;
  font-weight: 300;
  font-size: 14px;
  border-radius: 5px;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-right: 1rem;
  padding-top: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
  padding-bottom: 0.5rem;
  display: flex;
  align-items: center;
}

.Banner_Button:hover {
  color: #000;
  background-color: #e6e6e6;
  transition: all 0.2s;
}

img[alt~="playBanner"],
img[alt~="addBanner"] {
  filter: invert(1);
  width: 25px;
  padding-right: 5px;
  margin-left: 0px;
}

.Banner_Button:hover img[alt~="playBanner"] {
  filter: invert(0);
}

.Banner_Button:hover img[alt~="addBanner"] {
  filter: invert(0);
}

.FadeBottom {
  height: 8rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.2),
    #111
  );
}
